.btn-main-md {
  padding: 17px 38px;
  border-radius: 8px;
  background: #fff;
  color: #2e7eed;
  border-color: #2e7eed;
  outline: none;
  transition: 0.5s;
  font-weight: bold !important;
}

.btn-main-md:hover {
  color: #fff;
  background: #2e7eed;
}

.btn-main-md:focus {
  color: #fff;
  box-shadow: none;
}
