.btn-main-md {
  padding: 17px 38px;
  border-radius: 8px;
  width: 200px;
  background: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  outline: none;
  transition: 0.5s;
  font-weight: bold !important;
}

.btn-main-md:hover {
  color: #fff;
  background: var(--primary-color);
}

.btn-main-md:focus {
  box-shadow: none;
}
