bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-center {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.loading-center.close {
  /* width: 0%; */
  opacity: 0;
  z-index: -1;
}

.loading-center.show {
  opacity: 1;
  z-index: 1;
}

.loading-wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--primary-color), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.loading-wave:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-wave:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-wave:nth-child(4) {
  animation-delay: 0.3s;
}
.loading-wave:nth-child(5) {
  animation-delay: 0.4s;
}
.loading-wave:nth-child(6) {
  animation-delay: 0.5s;
}
.loading-wave:nth-child(7) {
  animation-delay: 0.6s;
}
.loading-wave:nth-child(8) {
  animation-delay: 0.7s;
}
.loading-wave:nth-child(9) {
  animation-delay: 0.8s;
}
.loading-wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
