<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AAnalyze</title>

    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/aos/aos.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/shapes-container.css">
    <link rel="stylesheet" href="./css/table.css">
    <link rel="stylesheet" href="./css/banner.css">
    <link rel="stylesheet" href="./css/button.css">
    <link rel="stylesheet" href="./css/loading.css">
    <link rel="stylesheet" href="./css/to-top-button.css">



    <script defer type="text/javascript" src="/eel.js"></script>
    <script defer src="./js/scroll.js"></script>
    <script defer src="./js/documentHelpers.js"></script>
    <script defer type="text/javascript" src="./js/main.js"></script>
</head>

<body>

    <section class="section gradient-banner">
        <div class="shapes-container">
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
            <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                    <h1 class="text-white font-weight-bold mb-4">Analyze Assignments using AAnalyze</h1>
                    <p class="text-white mb-5">AAnalyze provides you with the ability to process text like no other.
                        Check your students Assignments in the blink of an eye.</p>
                    <button onclick="test();" class="btn btn-main-md">Upload Folder</button>
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <img class="img-fluid" src="images/mobile.png" alt="screenshot">
                </div>
            </div>
        </div>
    </section>

    <div id="loading-container" class="loading-center close">
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
        <div class="loading-wave"></div>
    </div>

    <div class="center">
        <table id="student-match-score-table" class="styled-table"></table>
    </div>

    <button onclick="toTopFn()" id="scroll-to-top-btn" title="Go to top">&uarr;</button>

</body>

</html>