<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>sample</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <!--
have to call compute() from here for example when user clicks any button or something like that.
-->
    <form action="">
        <input id="design" type="file" webkitdirectory="true" directory />
        <a href="">click on the folder</a>
        <!-- file type : pdf, txt -->
        <button type="submit">Submit</button>
        <!-- on submit -->
        <!-- uploadFolderPath(folder_path, extension):function name -->
    </form>
</body>

</html>